.inputFile{
    position: relative;
    top: -40px;
    height: 35px;
    width: 200px;
    opacity: 0;
    border: 1px solid;

}

.add-image{
    height: 100px;
    width: 100px;
    border: 1px solid;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
}

#icon_container{
    padding-left: 55px;
    height: 60px;
}

.itemtitulo{
    padding: 0;
}
.add-image-galeria{
    height: 45px;
    width: 55px;
    border: 1px solid;
    float: left;
}


.btn-del-image {
    /* background: #333; */
    border-radius: 0px 10px;
}

.show-btn-del {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Safari */
    transform: scale(1, 1);
}


.content-btn-del-image {
    position: relative;
    height: 0px;
    top: -3px;
    left: 75px;
}


.item-img {
    height: 115px;
    width: 107px;
    float: left;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    border: 2px solid #3c8dbc;
    margin-left: 10px;
    margin-top: 10px;
    /* clear: both; */
}

#lightbox .modal-content {
    display: inline-block;
    text-align: center;
}

#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 5px 8px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: -15px;
    right: -55px;

    z-index:1032;
}

.tt-menu{

    position: relative!important;

    float: left;
    width: 100%;
    margin: 12px 0;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    color: #0a0a0a;
    font-size: 14px!important;
}

.typeahead,
.tt-query,
.tt-hint {
    width: 396px;
    height: 34px;
    padding: 8px 12px;

    line-height: 30px;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}

.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-menu {
    /* width: 422px; */
    /* margin: 12px 0; */
    /* padding: 8px 0; */
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    color: #000;
}

.tt-suggestion {
    padding: 3px 20px;
    /* font-size: 18px; */
    line-height: 24px;
}

.tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

.img-item {

    /* margin: 0px 9% 0px 9%; */
    border-radius: 8px;
    background-position: center;
    background-size: cover;
}