
.jpreview_image {
	width                   : 80px;
	height                  : 80px;
	margin 					: 2px;
	position                : relative;
	float                   : left;
	background-repeat       : no-repeat;
	background-position     : center center;
	-webkit-background-size : cover;
	-moz-background-size    : cover;
	-o-background-size      : cover;
	background-size         : cover;
}

.jpreview_image img {
	max-width: 100%;
	max-height: 100%
}

/* Added by Dariorodt */

.preview_box {
	border: 1px solid #ccc;
	display: inline-block;
	width: 84px;
	height: 108px;
	overflow: hidden;
}
.preview_controls {
	position: relative;
	top: -23px; /* Este control mide 23px de alto en Firefox */
}
.preview_controls i {
	margin: 5px;
}
.file_input {
	position: relative;
	top: -23px;
}
.jpreview_container {
	position: relative;
	top: -23px;
}