
*{
    font-family: Roboto;
    font-size: 30px;
    color:#FFF;
    box-sizing: border-box;
}

.ui-loader{
    display: none;
}

#panel_left{
    background: #273051;
    position: absolute;
    left:0px;
    width: 18%;
    top: 0px;
    bottom: 0px;
    /* display: none; */
}

#panel_mid{
    /* border:1px solid #FFF; */
    position: absolute;
    left: 18%;
    right: 18%;
    top: 0px;
    bottom: 0px;
}

#panel_right{
    /* background: #273051; */
    position: absolute;
    right: 0px;
    top: 0px;
    width: 18%;
    bottom: 0px;
    /* box-shadow: -5px 0px 17px 0px rgb(24, 32, 56); */
    overflow: auto;
    /* overflow-x: visible; */
    /* overflow-y: visible; */
}
.background{
    background: url(../images/background.jpg);
}

.menu-btn{
    margin: 10px;
}

.menu-btn span {
    display: block;
    width: 50px;
    height: 8px;
    margin: 4px 0;
    background: #52CFFB;
    z-index: 99;
}


.item{
    height: 27%;
    width: 23%;
    background: rgba(14, 19, 39, 0.75);
    border-radius: 3%;
    margin: 1%;
    padding-top: 2.1%;
    float: left;
}

.img-item{
    width: 82%;
    height: 80%;
    margin: 0px 9% 0px 9%;
    border-radius:8px;
    background-position: center;
    background-size: cover;
}

.text-item{
    color: #fff9e5;
    font-size: 0.7em;
    text-align: center;
    line-height: 2.5em;
}

.btn-add-item{
    margin: 0px;
    width: 0px;
    -ms-transform: scale(0, 0); /* IE 9 */
    -webkit-transform: scale(0, 0); /* Safari */
    transform: scale(0, 0);
    -webkit-transition:  -webkit-transform 0.5s, width 0.5s; /* Safari */
    transition: transform 0.5s, width 0.5s;
    transition-timing-function: cubic-bezier(.87,-.41,.19,1.44);
    -webkit-transition-timing-function:cubic-bezier(.87,-.41,.19,1.44);
}

.show-add-item{
    margin: 10px;
    width: 280px;
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari */
    transform: scale(1);
}


.btn-add-item > div:first-child{
    height: 110px;
    width: 110px;
    border-radius: 55px;
    margin: 55px 85px;
    /* margin-top: 55px; */
    background: #52CFFB;
    color: #FFF;
    font-size: 60px;
    text-align: center;
    padding-top: 29px;
}

.btn-add-item > div:first-child  + div{
    font-size: 30px;
    color:#FFF;
    text-align: center;
}

.item:active{
    background: #333;
    box-shadow: 0px 0px 10px 0px #52cffb;
    background: rgba(18, 27, 68, 0.75);
}

#content-center{
    -webkit-transition:  margin 0.5s; /* Safari */
    transition: margin 0.5s;
    transition-timing-function: cubic-bezier(.87,-.41,.19,1.44);
}


/*********************************************************************************** GRUPO *************/
.grupo{
    background: rgba(14, 19, 39, 0.75);
    width: 94%;
    height: 26%;
    margin-top: 14px;
    border-radius: 10px;
    margin-left: 10px;
    /* transform: scale(0.9); */
    -webkit-transition:  -webkit-transform 0.5s; /* Safari */
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(.87,-.41,.19,1.44);
    -webkit-transition-timing-function:cubic-bezier(.87,-.41,.19,1.44);
}

.grupo:last-child{
    margin-bottom: 80px;
}

.grupo .text-grupo{color: #FFF;text-align: center;font-size: 0.65em;}

.grupo .img-grupo{
    width: 85%;
    height: 77%;
    margin: 0px 7% 0px 7%;
    border-radius:8px;
    background-position: center;
    background-size: cover;
}

#btn-add-grupo{
    position: absolute;
    width: 18%;
    height: 6%;
    bottom: 0px;
    right: 0px;
    background: #52cffb;
    color: #FFF;
    text-align: center;
    font-size: 0.8em;
    line-height: 2.7em;
}

/******************************************************** FORMULARIOS ***********************/
.back-form{
    position: absolute;
    background: rgba(193, 188, 188, 0.9);
    top:0px;
    left:0px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
}



.form-container{
    /* box-shadow: 0px 0px 10px 2px #000; */
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgba(9, 13, 29, 0.87);
    z-index: 3;
    border-radius: 20px;
}

#form-grupo{
    height: 446px;
    width: 1110px;
    margin-top: -200px;
    margin-left: -598px;
}

#form-item{
    height: 940px;
    width: 1110px;
    margin-top: -470px;
    margin-left: -598px;
    border-radius: 20px;
}

.add-image{
    border: 2px solid #52cffb;
    border-radius: 8px;
    height: 230px;
    width: 230px;
    background-size: cover;
    background-position: center;
}

.add-image > div{
    height: 110px;
    width: 110px;
    border-radius: 55px;
    margin: 55px 57px;
    /* margin-top: 55px; */
    background: #52CFFB;
    color: #FFF;
    font-size: 60px;
    text-align: center;
    padding-top: 29px;
}

.textbox-custom{
    height: 50px;
    font-size: 30px;
}
.textarea-custom{
    height: 120px !important;
    font-size: 30px;
}

.form-group > label{
    color: #fff9e5;
    font-size: 26px;
}

.btn-custom{
    height: 70px;
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: 200px;
    margin: 20px;
}

#form-item-right{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: 511px;
    margin-top: -435px;
    width: 305px;
    height: 870px;
    background: rgba(76, 87, 132, 0.98);
    border-radius: 0px 20px 20px 0px;
    z-index: 3;
    /* -webkit-transition:  width 0.5s, height 0.5s, right 0.5s, top 0.5s; /* Safari */
    /*transition: width 0.5s, height 0.5s;*/
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    /* transition-timing-function: cubic-bezier(.87,-.41,.19,1.44);
    -webkit-transition-timing-function:cubic-bezier(.87,-.41,.19,1.44);*/
}

#item-relacionados{
    position: absolute;
    top: 71px;
    right: 0px;
    bottom:0px;
    width: 100%;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    overflow: auto;
}

.form-item-right-open{
    width: 1111px !important;
    height: 940px !important;
    margin-top: -470px !important;
    /* right: 451px !important; */
    border-radius: 20px !important;
}

.form-item-right-open > div#item-relacionados{
    width: 27.4%;
    border: 2px solid #52CFFB;
    margin: 59px;
    border-radius: 15px;
    /* background: #000; */
    margin-right: 25px;
    margin-bottom: 25px;
}

.form-item-right-open > div#item-relacionados> div.item{
    /* margin: -4px; */
}

#listado-items-a-relacionar{
    display: none;
    position: absolute;
    top:120px;
    left: 0px;
    bottom: 0px;
    width: 66%;
    margin: 10px;
    margin-left: 25px;
    margin-bottom: 25px;
    border-radius:15px;
    border: 2px solid #52CFFB;
    overflow: auto;
}

#listado-items-a-relacionar > div.item{
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.8);
    margin: -20px;
}

.form-item-right-open > div#listado-items-a-relacionar{
    display: block;
}

#item-galeria-container .add-image{width: 300px;float: left;}

#item-galeria-container .add-image > div{
    margin-left: 95px;
}

.content-btn-del-item{
    position: relative;
    height: 0px;
    top: -40px;
    left: 240px;
}

.content-btn-del-grupo{
    position: relative;
    height: 0px;
    top: -23px;
    left: 346px;
}


.content-btn-del-item-rel{
    position: relative;
    height: 0px;
    top: -22px;
    left: 250px;
}

.content-btn-del-image{
    position: relative;
    height: 0px;
    top: -3px;
    left: 250px;
}

.btn-del{
    height: 50px;
    width: 50px;
    background: #c72525;
    border-radius: 25px;
    text-align: center;
    padding-top: 9px;
    -ms-transform: scale(0, 0); /* IE 9 */
    -webkit-transform: scale(0, 0); /* Safari */
    transform: scale(0, 0);
    -webkit-transition:  -webkit-transform 0.5s; /* Safari */
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(.87,-.41,.19,1.44);
    -webkit-transition-timing-function:cubic-bezier(.87,-.41,.19,1.44);

}

.btn-del-image{
    /* background: #333; */
    border-radius: 0px 10px;
}

#top-bar-items-relacionados{
    display: none;
}

.form-item-right-open #top-bar-items-relacionados{
    display: block;
}

.show-btn-del{
    -ms-transform: scale(1, 1); /* IE 9 */
    -webkit-transform: scale(1, 1); /* Safari */
    transform: scale(1, 1);
}

.del-active{
    -ms-transform: scale(0.9); /* IE 9 */
    -webkit-transform: scale(0.9); /* Safari */
    transform: scale(0.9);
}

#btn-add-relacionado{
    height: 70px;
    background: #52cffb;
    text-align: center;
    border-radius: 0px 20px 0px 0px;
    line-height: 70px;
}

.form-item-right-open{
    width: 1111px !important;
    height: 940px !important;
    margin-top: -470px !important;
    margin-left: -598px !important;
    border-radius: 20px !important;
}

.item-selected .select-item-relacionado{
    display: block;
}
.select-item-relacionado{
    width: 0px;
    height: 0px;
    margin: 0px;
    position: relative;
    top: -24px;
    display: none;
}

.select-item-relacionado > div{
    background: rgba(59, 185, 86, 0.72);
    border-radius: 8px;
    width: 280px;
    height: 295px;
    padding-top: 94px;
    padding-left: 84px;
}

.select-item-relacionado > div > div{
    color: #ffffff;
    border: 2px solid #fff;
    height: 100px;
    width: 100px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    font-size: 75px;
    /* line-height: 100px; */
    padding-top: 11px;
    text-align: center;
    /* margin-top: 20; */
}

.dropdown > #select-grupos{
    /* font-size: 30px; */
    width: 360px;
    background: #3a4573;
    color: #FFF;
    border: 2px solid #52cffb;
    text-align: left;
}

.dropdown{
    margin-top: -28px;
    margin-left: 10px;
}

.dropdown *{
    font-size: 30px;
}

.dropdown .caret{
    border-top: 10px dashed;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

#btn-listo-relacionados{
    height: 70px;
    background: #52cffb;
    line-height: 70px;
    text-align: center;
    width: 250px;
    display: none;
    border-radius:0px 20px;
}

.form-item-right-open #btn-listo-relacionados{
    display: block;
}

.image-add-ct .ui-input-text{
    height: 0px;
}

.inputFile{
    position: relative;
    top: -231px;
    height: 231px;
    width: 229px;
    opacity: 0;
    border: 1px solid;
}

.btn-edit-grupo{
    width: 0px;
    height: 0px;
    margin: 0px;
    position: relative;
    top: 0px;
    display: none;
}

.btn-edit-grupo > div{
    background: rgba(0, 0, 0, 0.64);
    border-radius: 8px;
    width: 375px;
    height: 295px;
    padding-top: 84px;
    padding-left: 124px;
}

.btn-edit-grupo > div > div{
    color: #ffffff;
    border: 2px solid #fff;
    height: 130px;
    width: 130px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    border-radius: 75px;
    font-size: 75px;
    /* line-height: 100px; */
    padding-top: 24px;
    text-align: center;
    /* margin-top: 20; */
}

.btn-edit-item{
    width: 0px;
    height: 0px;
    margin: 0px;
    position: relative;
    top: -24px;
    display: none;
}

.btn-edit-item > div{
    background: rgba(0, 0, 0, 0.64);
    border-radius: 8px;
    width: 281px;
    /* margin-top: -22px; */
    height: 293px;
    padding-top: 79px;
    padding-left: 76px;
}

.btn-edit-item > div > div{
    color: #ffffff;
    border: 2px solid #fff;
    height: 130px;
    width: 130px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    border-radius: 75px;
    font-size: 75px;
    /* line-height: 100px; */
    padding-top: 24px;
    text-align: center;
    /* margin-top: 20; */
}

#item-relacionados .item{
     /* background: #333333; */
     padding-top: 0px;
     height: 305px;
     /* transform: scale(0.8); */
     /* margin-top: -22px; */
}

#item-relacionados .item > div.text-item-grupo{
    /* background: #333333; */
    text-align: center;
    font-size: 26px;
    /* transform: scale(0.8); */
}

#item-relacionados .item > div.text-item-grupo + div{
    background-position: center;
    background-size: cover;
}

.galery-container{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #c1e2b3;
    width: 100%;
    height: 251px;
    overflow-x: auto;
}

#item-galeria-container{
    height: 230px;
    width: 300px;
    overflow: hidden;
}


#item-galeria-container .ui-input-text{
    height: 0px;
    width: 0px;
    margin-left: 0px !important;
}
#item-galeria-container .inputFileGaleria {
    position: relative;
    border:1px solid #e3a345;
    height: 229px;
    width: 298px;
    top: -251px;
    left: -1px;
    opacity: 0;
}

.item-img{
    height: 230px;
    width: 300px;
    float: left;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    border: 2px solid #52cffb;
    margin-left: 10px;
    /* clear: both; */
}

.grupoSelected{
    /* position: fixed; */
    /* top: -1px; */
    margin-left: 0px;
    /* margin: 0px; */
    width: 100%;
    border-radius: 0px !important;
    background: rgb(45, 106, 169);
    border-bottom: 1px solid #333;
    /* background-color: white; */
    padding-left: 10px;
}

.inGrupo{
    /* margin-top: 307px; */
}

.ct-flecha{
    display: none;
    height: 0px;
    width: 0px;
}

.grupoSelected .ct-flecha{
    /* display: block; */
}

.flecha {
    position: relative;
    width: 12px;
    left: -40px;
    top: -273px;
    height: 17px;
    border-top: 148px solid transparent;
    border-right: 40px solid #2d6aa9;
    border-bottom: 148px solid transparent;
}

.itemtitulo{
    padding: 0;
}

.input-destino{
    display: none;
}

.input-responso{
    display: none;
}