/****************************** GENERALES ************************/
.border{
	border:1px solid #CCC;
}



.input-destino, .agregar-empresa, .editar-empresa, .agregar-lugar{
	display: none;
}

/****** configuracion CV ********************/

#logo-encabezado-cv{
		height: 50px;
		width: 180px;
		border: 1px solid;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
}

#logo-encabezado-ch{
		height: 50px;
		width: 100%;
		border: 1px solid;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
}
#logo-pie-cv, #logo-pie-ch{
		height: 50px;
		width: 100%;
		border: 1px solid;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
}

.inputFile-logo{
		position: relative;
		top: -50px;
		height: 60px;
		width: 100%;
		opacity: 0;
		border: 1px solid;
}

.ct-imagen{
	height: 100px;
	border-radius: 3px;
	border: 1px solid #CCC;
	margin-bottom: 10px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.ct-imagen .ct-file-input{
	height: 0px;
	width: 0px;
}

.ct-imagen .ct-file-input div{
		position: relative;
		height: 34px;
		width: 39px;
		overflow: hidden;
		top: -27px;
		left: -13px;
}

.ct-imagen .ct-file-input input{
	position: relative;
	height: 34px;
	opacity: 0;
}


.btn-imagen{
	float: right;
	margin-right: 5px;
	margin-top: 5px;
}

.ct-file-input-btn-add{
	position: relative;
	height: 0px;
}

.ct-file-input-btn-add div{
		position: relative;
		top: -27px;
		height: 34px;
		background: #333;
		opacity: 0;
		/* width: 100%; */
		overflow: hidden;
		cursor: pointer;
		margin-left: -13px;
		margin-right: -13px;
		width: 39px;
}

.ct-file-input-btn-add div input{
	height: 34px;
	width: 100%;
	cursor: pointer;
}
.ct-file-input-btn-add-publi{
		position: relative;
		height: 0px;
}

.ct-file-input-btn-add-publi div{
		position: relative;
		top: -34px;
		left: 0px;
		height: 34px;
		background: #333;
		opacity: 0;
		/* width: 100%; */
		overflow: hidden;
		cursor: pointer;
		width: 218px;
}

.ct-file-input-btn-add-publi div input{
		height: 34px;
		width: 100%;
		cursor: pointer;
}
.ct-file-input-btn-add1{
		position: relative;
		height: 0px;
}

.ct-file-input-btn-add1 div{
		position: relative;
		top: -27px;
		height: 34px;
		background: #333;
		opacity: 0;
		/* width: 100%; */
		overflow: hidden;
		cursor: pointer;
		margin-left: -13px;
		margin-right: -13px;
		width: 150px;
}

.ct-file-input-btn-add1 div input{
		height: 34px;
		width: 100%;
		cursor: pointer;
}
.dropdown-menu{
		min-width: 100px;
}



#image-preview {
	width: 100px;
	height: 100px;
	position: relative;
	overflow: hidden;
	background-color: #ffffff;
	color: #ecf0f1;
}
#image-preview input {
	line-height: 200px;
	font-size: 200px;
	position: absolute;
	opacity: 0;
	z-index: 10;
}
#image-preview label {
	position: absolute;
	z-index: 5;
	opacity: 0.8;
	cursor: pointer;
	background-color: #bdc3c7;
	width: 100px;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	text-transform: uppercase;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
}

.add-image{
	border: 1px solid;
	height: 230px;
	width: 230px;
	background-size: cover;
	background-position: center;
	margin-left:10px;
}
